<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello from html sample page</title>
</head>
<body>

<h2 th:text="${messageFromController}">hello from controller</h2>>
</body>
</html>