<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello from register page</title>
</head>
<body>

<!--<h2 th:text="welcome  ${firstName}">hello from register</h2>-->

<h2 th:text="${'welcome    ' + firstName}">prototype hello from login html</h2>

</body>
</html>